# Portfolio Construction

In this notebook, we will be putting together all the work that we have done in the data folder and forming a portfolio based on the distance measure used and the vector embeddings of the documents

In [1]:
import numpy as np
import pandas as pd 
import os

## Initial Evaluation of Feasibility

We will first look at the feasibility of cosine similarity scoring before controlling for sectors:

In [5]:
os.listdir('../data/')

['stopwords',
 '.DS_Store',
 'returns.h5',
 '1-Returns_Data_Exploration.ipynb',
 'Text_Tokenizer.ipynb',
 '3-Text_Embedding.ipynb',
 '.ipynb_checkpoints',
 'sample_tokenized',
 'alltokens.pickle',
 'company_filings.pickle',
 '2-Text_Tokenizer.ipynb']

In [6]:
rets = pd.read_hdf('../data/returns.h5')
rets.head()

,1,2,5,6,8,9,12,16,21,24,...,2807,2812,603986,603993,600390,600397,600483,600515,600587,600617
Date,,,,,,,,,,,,,,,,,,,,,
2007-02-01,-0.035024,0.022208,NaN,0.010897,NaN,-0.022680,-0.022674,0.020661,0.100000,0.043711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-02-02,-0.049837,-0.078594,NaN,-0.071310,NaN,-0.018987,-0.063200,-0.010121,0.014050,-0.054701,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-02-05,-0.048461,0.019417,NaN,0.010714,NaN,0.017204,0.038429,0.002045,0.060310,0.039783,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-02-06,0.049730,-0.007483,NaN,0.033569,NaN,0.025370,0.064145,0.030612,-0.016141,-0.004348,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-02-07,0.050228,0.052776,NaN,0.017094,NaN,0.004124,-0.016229,0.000000,0.042969,-0.004367,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN